In [1]:
import pandas as pd

In [2]:
#reading the csv files for cleaning of the data
df_historical_data =pd.read_csv('UEFA_Euro_Historical_data.csv')
df_fixture = pd.read_csv('UEFA_Euro_Fixtures.csv')
df_missing_data = pd.read_csv('UEFA_Euro_Historical_missing_data.csv')

In [3]:
#removing unwanted trailing and starting spaces from the columns
df_fixture['home']=df_fixture['home'].str.strip()
df_fixture['away']=df_fixture['away'].str.strip()

In [4]:
# removing the null values from the columns
df_missing_data[df_missing_data['home'].isnull()]
df_missing_data[df_missing_data['away'].isnull()]

Empty DataFrame
Columns: [home, away, Year, HomeGoals, AwayGoals]
Index: []

In [5]:
# merging missing data and historical data droping the duplicates
df_historical_data = pd.concat([df_historical_data,df_missing_data],ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('Year',inplace=True)
df_historical_data

                home             away  Year  HomeGoals  AwayGoals
0            France        Yugoslavia  1960          4          5
1    Czechoslovakia      Soviet Union  1960          0          3
2    Czechoslovakia            France  1960          2          0
3      Soviet Union        Yugoslavia  1960          2          1
4             Spain           Hungary  1964          2          1
..               ...              ...   ...        ...        ...
301         Croatia    Czech Republic  2020          1          1
302         England          Scotland  2020          0          0
303         Croatia          Scotland  2020          3          1
305          Poland          Slovakia  2020          1          2
331           Italy           England  2020          1          1

[332 rows x 5 columns]

In [6]:
# df_historical_data['HomeGoals'].astype(int)
display(df_historical_data.dtypes)

home         object
away         object
Year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

In [7]:
#droping the null values
df_historical_data=df_historical_data.dropna()
df_historical_data

                home             away  Year  HomeGoals  AwayGoals
0            France        Yugoslavia  1960          4          5
1    Czechoslovakia      Soviet Union  1960          0          3
2    Czechoslovakia            France  1960          2          0
3      Soviet Union        Yugoslavia  1960          2          1
4             Spain           Hungary  1964          2          1
..               ...              ...   ...        ...        ...
301         Croatia    Czech Republic  2020          1          1
302         England          Scotland  2020          0          0
303         Croatia          Scotland  2020          3          1
305          Poland          Slovakia  2020          1          2
331           Italy           England  2020          1          1

[332 rows x 5 columns]

In [8]:
#changing the float datatype into int64
df_historical_data['AwayGoals']= df_historical_data['AwayGoals'].astype('Int64')
df_historical_data['HomeGoals']= df_historical_data['HomeGoals'].astype('Int64')
df_historical_data['Year']= df_historical_data['Year'].astype('Int64')

In [9]:
#displaying datatypes
display(df_historical_data.dtypes)

home         object
away         object
Year          Int64
HomeGoals     Int64
AwayGoals     Int64
dtype: object

In [10]:
#renaming the columns
df_historical_data.rename(columns={'home':'HomeTeam','away':'AwayTeam','year':'Year'},inplace=True)

In [11]:
#making a new column of TotalGoals
df_historical_data['TotalGoals']=df_historical_data['HomeGoals']+df_historical_data['AwayGoals']

In [12]:
print(df_historical_data)

            HomeTeam         AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0            France        Yugoslavia  1960          4          5           9
1    Czechoslovakia      Soviet Union  1960          0          3           3
2    Czechoslovakia            France  1960          2          0           2
3      Soviet Union        Yugoslavia  1960          2          1           3
4             Spain           Hungary  1964          2          1           3
..               ...              ...   ...        ...        ...         ...
301         Croatia    Czech Republic  2020          1          1           2
302         England          Scotland  2020          0          0           0
303         Croatia          Scotland  2020          3          1           4
305          Poland          Slovakia  2020          1          2           3
331           Italy           England  2020          1          1           2

[332 rows x 6 columns]

Exporting the cleaned dataframe

In [13]:
df_historical_data.to_csv('UEFA_Euro_Historical_data_cleaned.csv',index=False)
df_fixture.to_csv('UEFA_Euro_Fixtures_cleaned.csv',index=False)

Verifications

In [14]:
years = [1960,1964,1968,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020]
for year in years:
    print(year,len(df_historical_data[df_historical_data['Year']==year]))

1960 4
1964 4
1968 0
1972 4
1976 4
1980 14
1984 15
1988 15
1992 15
1996 31
2000 31
2004 31
2008 31
2012 31
2016 51
2020 51